* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #A89058;
    --secondary-color: #FFEAB8;
    --accent1-color: #F5D998;
    --accent2-color: #4765A8;
    --header-font: 'Playfair Display', Times, serif;
    --body-font: 'Roboto', Arial, sans-serif;
}

body {
    font-family: var(--body-font);
}

/* header */
#header .logo {
    align-items: center;
    display: flex;
    width: 100%;
}
.navBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    width: 100%;
}
.navBox a {
    text-decoration: none;
    font-family: var(--header-font);
    font-size: 1.2rem;
    color: black;
    font-size: 1.2rem;
}
.logo img {
    width: 100px;
}
/* footer */
#footer {
    background-color: var(--primary-color);
    color: black;
    padding: 20px 10px;

}

/* homepage */
.mainBox {
    align-items: center;
}
.hero img {
    width: 100%;
    height: auto;
}
.searchBox {
    padding: 1rem;
}
#searchForm {
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
#search {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
}
#searchBtn {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--accent2-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

@media screen and (min-width: 500px) {
    body {
        max-width: 1080px;
    }
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navBox {
        display: flex;
        background-color: var(--primary-color);
        padding: 25px 20px;
        width: 60%;
    }
    .navBox a {
        text-decoration: none;
        font-family: var(--header-font);
        font-size: 1.2rem;
        display: block;
        color: black;
        font-size: 1.2rem;
    }
    .logo img {
        width: 200px;
    }
    .mainBox {
        position: relative;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .heroImg {
        display: block;
    }
    .searchBox {
        position: absolute;
        left: 30%;
        top: 50%;
        background-color: var(--accent1-color);
    }
    footer {
        margin-top: .5rem;
    }
}